/* /Components/AccountActivity.razor.rz.scp.css */
hr[b-km8ls46rkq] {
    border-top: 2px solid #E7E7E7;
    opacity: 1;
}

th[b-km8ls46rkq] {
    background-color: #EDEDED;
}

th.transaction-label[b-km8ls46rkq] {
    width: 100%;
}

td[b-km8ls46rkq] {
    white-space: nowrap;
}

tfoot td[b-km8ls46rkq] {
    border-top: 4px double #DDDDDD;
}

.account-activity[b-km8ls46rkq] {
    background-color: #FFFFFF;
    border: 2px solid #E7E7E7;
    border-top: 0;
    padding: 25px 15px 15px;
    position: relative;
}

.account-activity[b-km8ls46rkq]:before {
    background: #019D78;
    content: "";
    height: 8px;
    left: -1px;
    position: absolute;
    right: -2px;
    top: 0;
}

.account-balance[b-km8ls46rkq] {
    color: #019D78;
}
/* /Components/ExpectedTransactions.razor.rz.scp.css */
th[b-kd878kobl0] {
    background-color: #EDEDED;
}

th.transaction-label[b-kd878kobl0] {
    width: 100%;
}

td[b-kd878kobl0] {
    white-space: nowrap;
}

tfoot td[b-kd878kobl0] {
    border-top: 4px double #DDDDDD;
}
/* /Components/TransactionsTable.razor.rz.scp.css */
td[b-ka7yuknorq] {
    white-space: nowrap;

    &.transaction-label {
        width: 100%;
    }
}

tfoot td[b-ka7yuknorq] {
    border-top: 4px double #DDDDDD;
}
/* /Pages/Accounts.razor.rz.scp.css */
.list-group[b-b0f8punu9c] {
    margin-right: -2px;
    margin-top: 20px;
}

.list-group-item[b-b0f8punu9c] {
    background: none;
    border-color: transparent;
    border-radius: 0;
    border-width: 1px 0;
    color: #337AB7;
    padding: 8px 8px 8px 20px;
    z-index: 1;
}

.list-group-item .account-label[b-b0f8punu9c] {
    margin-bottom: 8px;
}

.list-group-item .account-label + p[b-b0f8punu9c] {
    margin-bottom: 0;
}

.list-group-item .oi[b-b0f8punu9c] {
    color: transparent;
}

.list-group-item:hover[b-b0f8punu9c] {
    background-color: #FFFFFF;
    color: #23527C;
    cursor: pointer;
}

.list-group-item:hover .oi[b-b0f8punu9c] {
    color: #23527C;
}

.list-group-item.selected[b-b0f8punu9c] {
    background-color: #FFFFFF;
    border-color: #E7E7E7;
    position: relative;
}

.list-group-item.selected[b-b0f8punu9c]:before {
    background: #019D78;
    bottom: -1px;
    content: "";
    left: 0;
    position: absolute;
    top: -1px;
    width: 4px;
}

.list-group-item.selected .account-label[b-b0f8punu9c] {
    color: #EE7522;
}

.list-group-item.selected .oi[b-b0f8punu9c] {
    color: #EE7522;
}
/* /Pages/Budgets.razor.rz.scp.css */
.list-group-item[b-7w1rq9au7i] {
    background: none;
}
/* /Pages/CategorizationRules.razor.rz.scp.css */
.list-group-item[b-02hfs2c0r1] {
    background: none;
}
/* /Shared/MainLayout.razor.rz.scp.css */
main[b-bttjr3zrx8] {
    background-color: #F5F5F5;
    border-top: 2px solid #019D78;
}

/* */
.page[b-bttjr3zrx8] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-bttjr3zrx8] {
    flex: 1;
}

.sidebar[b-bttjr3zrx8] {
    background-color: #1C2B36;
}

.top-row[b-bttjr3zrx8] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.top-row[b-bttjr3zrx8]  a, .top-row[b-bttjr3zrx8]  .btn-link {
    white-space: nowrap;
    margin-left: 1.5rem;
    text-decoration: none;
}

.top-row[b-bttjr3zrx8]  a:hover, .top-row[b-bttjr3zrx8]  .btn-link:hover {
    text-decoration: underline;
}

.top-row[b-bttjr3zrx8]  a:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-bttjr3zrx8] {
        display: none;
    }

    .top-row.auth[b-bttjr3zrx8] {
        justify-content: space-between;
    }

    .top-row[b-bttjr3zrx8]  a, .top-row[b-bttjr3zrx8]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-bttjr3zrx8] {
        flex-direction: row;
    }

    .sidebar[b-bttjr3zrx8] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-bttjr3zrx8] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-bttjr3zrx8]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-bttjr3zrx8], article[b-bttjr3zrx8] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-0micjllty4] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-0micjllty4] {
    height: 3.5rem;
    background-color: rgba(0, 0, 0, 0.4);
}

.navbar-brand[b-0micjllty4] {
    font-size: 1.1rem;
}

.oi[b-0micjllty4] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-0micjllty4] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

.nav-item:first-of-type[b-0micjllty4] {
    padding-top: 1rem;
}

.nav-item:last-of-type[b-0micjllty4] {
    padding-bottom: 1rem;
}

.nav-item[b-0micjllty4]  a {
    color: #d7d7d7;
    border-radius: 4px;
    height: 3rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
}

.nav-item[b-0micjllty4]  a.active {
    background-color: rgba(255, 255, 255, 0.25);
    color: white;
}

.nav-item[b-0micjllty4]  a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-0micjllty4] {
        display: none;
    }

    .collapse[b-0micjllty4] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
